@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Aeonik', sans-serif;
  ::-webkit-scrollbar-track {
    border-radius: 15px;
    background-color: white;
  }

  ::-webkit-scrollbar {
    width: 0;
  }

  :hover::-webkit-scrollbar {
    background-color: white;
  }

  ::-webkit-scrollbar-thumb {
    transition: ease-in 0.3s;
  }
}

@font-face {
  font-family: 'Aeonik';
  src: url('../../public/font/Aeonik-Bold.ttf');
}

@font-face {
  font-family: 'Aeonik';
  src: url('../../public/font/Aeonik-Medium.ttf');
}

@font-face {
  font-family: 'Aeonik';
  src: url('../../public/font/Aeonik-Regular.ttf');
}
